body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(247, 183, 241, 0.932);
}
main {
    flex: 1 0 auto;
}      
#letra {
    color: #f3e9ea;
}
div .edit-text {
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.demo-3 {
    position: relative;
    width: 300px;
    overflow: hidden;
    float: left;
    margin-right: 20px
}

.demo-3 figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    margin-left: -50px
}

.demo-3 figure img {
    display: block;
    position: relative;
    z-index: 10;
    margin: -15px 0
}

.demo-3 figure figcaption {
    display: block;
    position: absolute;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.demo-3 figure h2 {
    font-family: 'Lato';
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.demo-3 figure p {
    display: block;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.demo-3 figure figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 29px 44px;
    background-color: #ab47bc;
    text-align: center;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.demo-3 figure img {
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.demo-3 figure:hover img,
figure.hover img {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.demo-3 figure:hover figcaption,
figure.hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0)
}

body {
    margin: 0;
}

#progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#progress-bar-container {

    width: 100%;
    height: 8px
    /**Também sobre a barra**/
}

#progress-bar {
    position:absolute;
    height: 16px;
    background-image: -webkit-linear-gradient(90deg, #000000, #bd4349);
    background-image: linear-gradient(90deg, #f5115d, #bd43a9);
    width: 0%;
    /**AQUI CONFIGURA A BARRA O VISUAL DELA COMO TAMANHO, COR, E SUA "IMAGEM"**/
}

.details:hover{
    color: #f5115d;
}
.font{
    font-size: 16px;
}
/* Zoom para visualização dos criadores */
.zoomCards:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.top{
    margin-top: 5%;
}